<section class="banner">
  <div class="content-banner">
    <h2>Las Mejores <br />Pizzas</h2>
    <a href="dashboard">Comprar ahora</a>
  </div>
</section>
<main class="main-content">
  <!--BOTONES O SPAN XD DESTACADOS RECIENTE MEJORES -->
  <section class="container-prom">
    &nbsp;
    <h1 class="heading-1">PROMOCIONES</h1>
    &nbsp;
    <!--promociones-->
    <section class="gallery">
      <img
        src="/assets/images/PROMOCIONES/prom3.jpg"
        alt="Gallery Img3"
        class="gallery-img-1"
      /><img
        src="/assets/images/PROMOCIONES/prom2.jpg"
        alt="Gallery Img2"
        class="gallery-img-2"
      /><img
        src="/assets/images/PROMOCIONES/PROM1.jpg"
        alt="Gallery Img1"
        class="gallery-img-3"
      /><img
        src="/assets/images/PROMOCIONES/prom4.jpg"
        alt="Gallery Img4"
        class="gallery-img-4"
      /><img
        src="/assets/images/PROMOCIONES/prom5.jpg"
        alt="Gallery Img5"
        class="gallery-img-5"
      />
    </section>
  </section>
  <!--banner de abajo  -->

  <footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>Dirección: Av. Alfredo Mendiola 6062, Los Olivos 15306</li>
            <li>Teléfono: 123-456-7890</li>
            <li>EmaiL: Anthonyspizza</li>
          </ul>
          <!--ICONO DE REDES SOCIALES-->
          <div class="social-icons">
            <span class="facebook">
              <a
                href="https://www.facebook.com/AnthonysPizzaPuentePiedra?mibextid=LQQJ4d"
              >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </span>
            <span class="instagram">
              <a
                href="https://www.instagram.com/pizza_anthonys?igsh=MW1uaWtmNHJtNGVsNg=="
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Delivery</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Mi cuenta</p>

          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Historial de ordenes</a></li>
            <li><a href="#">Reembolsos</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Atención al cliente</p>
          <ul>
            <li><a href="#">Horarios de atencion telefonico</a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p>Anthony's pizza S.A.C todo los derechos desde &copy; 2024</p>
      </div>
    </div>
  </footer>
</main>
