<body>
  <!-- Main container -->
  <main class="full-box main-container">
    <!-- Nav lateral -->
    <section class="full-box nav-lateral">
      <div class="full-box nav-lateral-bg show-nav-lateral"></div>
      <div class="full-box nav-lateral-content">
        <figure class="full-box nav-lateral-avatar">
          <i class="far fa-times-circle show-nav-lateral"></i>
          <img src="/assets/images/Avatar.png" class="img-fluid" alt="Avatar" />
          <figcaption class="roboto-medium text-center">
            ANTHONYS PIZZA <br /><small class="roboto-condensed-light"
              >Administrador</small
            >
          </figcaption>
        </figure>
        <div class="full-box nav-lateral-bar"></div>
        <nav class="full-box nav-lateral-menu">
          <ul>
            <li>
              <a href="dashboard"
                ><i class="fab fa-dashcube fa-fw"></i> &nbsp; Dashboard</a
              >
            </li>

            <li>
              <a href="dproducto" class="nav-btn-submenu"
                ><i class="fas fa-pallet fa-fw"></i> &nbsp; Productos
                <i class="fas fa-chevron-down"></i
              ></a>
            </li>

            <li>
              <a href="dpedidos" class="nav-btn-submenu"
                ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Pedidos
                <i class="fas fa-chevron-down"></i
              ></a>
            </li>
            <li>
              <a href="dusuario" class="nav-btn-submenu"
                ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Usuarios
                <i class="fas fa-chevron-down"></i
              ></a>
            </li>
            <li>
              <a href="dempleados" class="nav-btn-submenu"
                ><i class="fas fa-user-secret fa-fw"></i> &nbsp; Empleados
                <i class="fas fa-chevron-down"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Page content -->
    <section class="full-box page-content">
      <!-- <nav class="navbar bg-light"> -->
      <nav class="navbar" style="background-color: #f13434">
        <div class="container-fluid">
          <div class="col-md-4">
            <h1 style="color: white">Pedidos</h1>
          </div>
        </div>
      </nav>

      <div class="col-md-12 p-2">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-save"></i> Agregar Pedido
        </button>
        <table class="table mt-2 table-bordered">
          <thead class="table-primary">
            <tr>
              <th>Id Pedido</th>
              <th>Id Usuario</th>
              <th>Id metodo</th>
              <th>Fecha de Pedido</th>
              <th>Total</th>
              <th>Direccion</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>222</td>
              <td>1</td>
              <td>hoy</td>
              <td>35.20</td>
              <td>Mi casa</td>
              <td>En proceso</td>
              <td>
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- TODO: Modals -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Agregar Producto</h1>
              <h1 class="modal-title fs-5">Actualizar Producto</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Id Pedido</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Id_Pedido"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Id Usuario</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Id_Usuario"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Fecha de Pedido</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Fecha_Pedido"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Total</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Total"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Direccion</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Direccion"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Estado</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Estado"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="button" class="btn btn-success btn-sm">
                Guardar
              </button>
              <button type="button" class="btn btn-warning btn-sm">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
