<body>
    <div class="search-container">
        <input type="text" placeholder="Search Food">
        <button type="submit"><i class="bx bx-search-alt-2"></i></button>
    </div>
    <div class="product-list">
        <div class="product-card">
            <img src="/assets/images/pizzas/barbacoa.png" alt="Pizza N Stix">
            <div class="product-info">
                <h3>HOT-N-READY® PIZZA N STIX</h3>
                <p>Cuatro rebanadas de pizza con pepperoni combinadas con ocho palitos de queso italiano, más crazy sauce</p>
                <p class="price">S/.29</p>
                <button class="order-button">ORDENAR</button>
            </div>
        </div>
        <div class="product-card">
            <img src="/assets/images/pizzas/champiñones.png" alt="Ultimate Supreme">
            <div class="product-info">
                <h3>FAMILIAR ULTIMATE SUPREME</h3>
                <p>Familiar Ultimate Supreme</p>
                <p class="price">S/.31.90</p>
                <button class="order-button">ORDENAR</button>
            </div>
        </div>
        <div class="product-card">
            <img src="/assets/images/pizzas/cheese.png" alt="Hula Hawaiian">
            <div class="product-info">
                <h3>FAMILIAR HULA HAWAIIAN</h3>
                <p>Familiar Hula Hawaiian</p>
                <p class="price">S/.32.90</p>
                <button class="order-button">ORDENAR</button>
            </div>
        </div>
        <div class="product-card">
            <img src="/assets/images/pizzas/combo.png" alt="Hula Hawaiian">
            <div class="product-info">
                <h3>FAMILIAR HULA HAWAIIAN</h3>
                <p>Familiar Hula Hawaiian</p>
                <p class="price">S/.32.90</p>
                <button class="order-button">ORDENAR</button>
            </div>
        </div>
        <div class="product-card">
            <img src="/assets/images/pizzas/cuatroquesos.png" alt="Hula Hawaiian">
            <div class="product-info">
                <h3>FAMILIAR HULA HAWAIIAN</h3>
                <p>Familiar Hula Hawaiian</p>
                <p class="price">S/.32.90</p>
                <button class="order-button">ORDENAR</button>
            </div>
        </div>
    </div>
</body>