<body>
  <div class="search-container">
    <input type="text" placeholder="Search Food" />
    <button type="submit"><i class="bx bx-search-alt-2"></i></button>
  </div>
  <div class="product-list">
    <div class="product-card">
      <img src="/assets/images/pizzas/pepperoni.png" alt="Pizza N Stix" />
      <div class="product-info">
        <h3>HOT-N-READY® PIZZA N STIX</h3>
        <p>
          Cuatro rebanadas de pizza con pepperoni combinadas con ocho palitos de
          queso italiano, más crazy sauce
        </p>
        <p class="price">S/.29.90</p>
        <button class="order-button">ORDENAR</button>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/images/pizzas/champiñones.png" alt="Ultimate Supreme" />
      <div class="product-info">
        <h3>FAMILIAR CON CHAMPIÑONES</h3>
        <p>QUESO MOZZARELLA</p>
        <P>CHAMPIÑONES FRESCOS</P>
        <P>ACEITE DE OLIVA</P>
        <P>HIERBAS AROMÁTICAS</P>
        <p class="price">S/.31.90</p>
        <button class="order-button">ORDENAR</button>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/images/pizzas/cheese.png" alt="Hula Hawaiian" />
      <div class="product-info">
        &nbsp;
        <h3>CRAZY CHEESE BREAD</h3>
        <p>12 PANCITOS RECIÉN HORNEADOS</p>
        <P>CON 3 DELICIOSOS QUESOS</P>
        <P>Y UN TOQUE DE MANTEQUILLA DE AJO</P>
        <p class="price">S/.32.90</p>
        <button class="order-button">ORDENAR</button>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/images/pizzas/combo.png" alt="Hula Hawaiian" />
      <div class="product-info">
        <h3>COMBO FAMILIAR</h3>
        <p>2 PIZZAS FAMILIARES</p>
        <p>DE PEPPERONI</p>
        <p>1 CRAZY CHEESE BREAD</p>
        <p>1 GASEOSA DE 1.5 L</p>
        <p class="price">S/.59.90</p>
        <button class="order-button">ORDENAR</button>
      </div>
    </div>
    <div class="product-card">
      <img src="/assets/images/pizzas/cuatroquesos.png" alt="Hula Hawaiian" />
      <div class="product-info">
        <h3>FAMILIAR 4 QUESOS</h3>
        <p>QUESO MOZZARELLA</p>
        <P>QUESO CREMA</P>
        <P>QUESO CHEDDAR</P>
        <P>QUESO PARMESANO</P>
        <p class="price">S/.42.90</p>
        <button class="order-button">ORDENAR</button>
      </div>
    </div>
  </div>
  <!--banner de abajo  -->

  <footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>Dirección: Av. Alfredo Mendiola 6062, Los Olivos 15306</li>
            <li>Teléfono: 123-456-7890</li>
            <li>EmaiL: Anthonyspizzasupport.com</li>
          </ul>
          <!--ICONO DE REDES SOCIALES-->
          <div class="social-icons">
            <span class="facebook">
              <a
                href="https://www.facebook.com/AnthonysPizzaPuentePiedra?mibextid=LQQJ4d"
              >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </span>
            <span class="instagram">
              <a
                href="https://www.instagram.com/pizza_anthonys?igsh=MW1uaWtmNHJtNGVsNg=="
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Delivery</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Mi cuenta</p>

          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Historial de ordenes</a></li>
            <li><a href="#">Reembolsos</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Atención al cliente</p>
          <ul>
            <li><a href="#">Horarios de atencion telefonico</a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p>Anthony's pizza S.A.C todo los derechos desde &copy; 2024</p>
      </div>
    </div>
  </footer>
</body>
