.btn-limpiar {
    margin-top: 10px;
  }
.container {
	max-width: 120rem;
	margin: 0 auto;
    padding: 100px;
    border-radius: 5px;
    border: 1px solid black;
}
.pedido {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
}
.btn-limpiar {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-limpiar:hover {
    background-color: darkred;
}
.item {
    margin-left: 20px;
}

