<body>
    <div class="container">
        <div class="image-container">
            <img src="/assets/images/trabajadores.png" alt="Nosotros">
        </div>
        <div class="text-container">
            <h2>Sobre la empresa</h2>
            <p>Anthony's Pizza es una pizzería establecida en
                2019 que ha ganado popularidad gracias a su
                auténtica comida italiana. Con cinco locales
                distribuidos estratégicamente, ofrece una
                amplia variedad de opciones, desde pizzas
                tradicionales hasta pastas caseras. El
                ambiente es acogedor y familiar, invitando a
                los clientes a disfrutar de una comida sin
                pretensiones pero sabrosa. La calidad de los
                ingredientes es una prioridad, asegurando que
                cada plato esté lleno de sabor. En resumen,
                Anthony's Pizza es un lugar donde los amantes
                de la comida italiana pueden satisfacer sus
                antojos de manera confiable y reconfortante.</p>
        </div>
    </div>
    <div class="container2">
        <div class="section">
            <h2>Visión:</h2>
            <div class="content">
                <p>Nuestra visión es ser reconocidos como el destino preferido para aquellos
                    que buscan disfrutar de pizzas y pastas excepcionales en un ambiente
                    relajado y familiar. También buscamos expandir nuestra presencia para
                    deleitar a más clientes con nuestra deliciosa oferta gastronómica.</p>
                <img src="/assets/images/pizzas/champiñones.png" alt="Misión">
            </div>
        </div>
        <div class="section">
            <h2>Misión:</h2>
            <div class="content">
                <p>Ser reconocidos como el destino preferido para aquellos que buscan
                    disfrutar de pizzas y pastas excepcionales en un ambiente relajado y 
                    familiar. Aspirar a seguir siendo innovadores en la creación de nuevos
                    sabores y platos.</p>
                <img src="/assets/images/pizzas/combo.png" alt="Visión">
            </div>
        </div>
    </div>
</body>