<main class="main-content">
    <!--BOTONES O SPAN XD DESTACADOS RECIENTE MEJORES -->
    <section class="container products">
        &nbsp;
        <div class="container-options">
            <span class="active">PROMOCIONES</span>
            <span>PIZZAS</span>
            <span>PASTAS</span>
            <span>COMPLEMENTOS</span>
        </div>

        <div class="container-products">

            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="/assets/images/pizzas/napolitana.png" alt="Napolitana" />
                    <span class="discount">-8%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!-- ICONOS DE ESTRELLAS -->
                <div class="content-card-product">
                    <h3>Pizza familiar Napolitana</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/28.80 <span>S/36.00</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="/assets/images/pizzas/barbacoa.png"
                        alt="Pizza familiar Barbacoa"
                    />
                    <span class="discount">-4%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!--ICONO DE ESTRELLA-->
                <div class="content-card-product">
                    <h3>Pizzas familiar Barbacoa</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/9.50 <span>S/9.90</span></p>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="/assets/images/pizzas/hawaiana.png" alt="Pizza Hawaiana (pizza con piña)" />
                    <span class="discount">-8%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!-- ICONOS DE ESTRELLAS -->
                <div class="content-card-product">
                    <h3>Pizza familiar Hawaiana (pizza con piña)</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/28.80 <span>S/36.00</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="/assets/images/pizzas/cuatroquesos.png"
                        alt="Pizza familiar Cuatro quesos"
                    />
                    <span class="discount">-4%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!--ICONO DE ESTRELLA-->
                <div class="content-card-product">
                    <h3>Pizzas familiar Cuatro quesos</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/9.50 <span>S/9.90</span></p>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="/assets/images/pizzas/pepperoni.png" alt="Pizza Pepperoni" />
                    <span class="discount">-8%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!-- ICONOS DE ESTRELLAS -->
                <div class="content-card-product">
                    <h3>Pizza familiar Pepperoni</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/28.80 <span>S/36.00</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="/assets/images/pizzas/champiñones.png"
                        alt="Pizza con champiñones"
                    />
                    <span class="discount">-4%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!--ICONO DE ESTRELLA-->
                <div class="content-card-product">
                    <h3>Pizza con champiñones</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/9.50 <span>S/9.90</span></p>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="/assets/images/pizzas/suprema.png" alt="FAMILIAR ULTIMATE SUPREME" />
                    <span class="discount">-8%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!-- ICONOS DE ESTRELLAS -->
                <div class="content-card-product">
                    <h3>FAMILIAR ULTIMATE SUPREME</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/28.80 <span>S/36.00</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="/assets/images/pizzas/cheese.png"
                        alt="CRAZY CHEESE BREAD"
                    />
                    <span class="discount">-4%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!--ICONO DE ESTRELLA-->
                <div class="content-card-product">
                    <h3>CRAZY CHEESE BREAD</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/9.50 <span>S/9.90</span></p>
                </div>
            </div>
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="/assets/images/pizzas/combo.png" alt="COMBO FIESTA"/>
                    <span class="discount">-8%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!-- ICONOS DE ESTRELLAS -->
                <div class="content-card-product">
                    <h3>COMBO FIESTA</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/28.80 <span>S/36.00</span></p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img
                        src="/assets/images/pizzas/meattreat.jpeg"
                        alt="FAMILIAR 3 MEAT TREAT"
                    />
                    <span class="discount">-4%</span>
                    <div class="button-group">
                        <!--ICONO DE CORAZON-->
                        <span>
                            <i class="fa-regular fa-heart"></i>
                        </span>
                    </div>
                </div>
                <!--ICONO DE ESTRELLA-->
                <div class="content-card-product">
                    <h3>FAMILIAR 3 MEAT TREAT</h3>
                    <span class="add-cart">
                        <i class="bx bx-cart"></i>
                    </span>
                    <p class="price">S/9.50 <span>S/9.90</span></p>
                </div>
            </div>
        </div>
    </section>

 <!--banner de abajo  -->

 <footer class="footer">
    <div class="container container-footer">
        <div class="menu-footer">
            <div class="contact-info">
                <p class="title-footer">Información de Contacto</p>
                <ul>
                    <li>
                        Dirección: Av. Alfredo Mendiola 6062, Los Olivos 15306
                    </li>
                    <li>Teléfono: 123-456-7890</li>
                    <li>EmaiL: Anthonyspizzasupport.com</li>
                </ul>
                <!--ICONO DE REDES SOCIALES-->
                <div class="social-icons">
                    <span class="facebook">
                        <a href="https://www.facebook.com/AnthonysPizzaPuentePiedra?mibextid=LQQJ4d">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </span>
                    <span class="instagram">
                        <a href="https://www.instagram.com/pizza_anthonys?igsh=MW1uaWtmNHJtNGVsNg==">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </span>
                </div>
            </div>

            <div class="information">
                <p class="title-footer">Información</p>
                <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Información Delivery</a></li>
                    <li><a href="#">Politicas de Privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contactános</a></li>
                </ul>
            </div>

            <div class="my-account">
                <p class="title-footer">Mi cuenta</p>

                <ul>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Historial de ordenes</a></li>
                    <li><a href="#">Reembolsos</a></li>
                </ul>
            </div>

            <div class="my-account">
                <p class="title-footer">Atención al cliente</p>
                <ul>
                    <li><a href="#">Horarios de atencion telefonico</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
    <p>
      Anthony's pizza S.A.C todo los derechos desde &copy; 2024
    </p>
        </div>
    </div>
</footer>
