<main class="main-content">
  <!--BOTONES O SPAN XD DESTACADOS RECIENTE MEJORES -->
  <section class="container products">
    &nbsp;
    <div class="container-options">
      <span class="active">PROMOCIONES</span>
      <span [routerLink]="['/pizzas']">PIZZAS</span>
      <span [routerLink]="['/pastas']">PASTAS</span>
      <span [routerLink]="['/complementos']">COMPLEMENTOS</span>
    </div>

    <div class="container-products">
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img src="/assets/images/pizzas/napolitana.png" alt="Napolitana" />
        </div>
        <div class="content-card-product">
          <h3>Pizza familiar Napolitana</h3>
          <p class="price">S/29.90</p>
          <button class="btn-add-cart" (click)="addToCart('Pizza familiar Napolitana', 29.90)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img src="/assets/images/pastas/Pasta-penne.png" alt="Pasta penne" />
        </div>
        <div class="content-card-product">
          <h3>Pasta Penne en salsa de vodka</h3>
          <p class="price">S/28.80</p>
          <button class="btn-add-cart" (click)="addToCart('Pasta Penne en salsa de vodka', 28.8)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pizzas/hawaiana.png"
            alt="Pizza Hawaiana (pizza con piña)"
          />
        </div>
        <div class="content-card-product">
          <h3>Pizza familiar Hawaiana (pizza con piña)</h3>
          <p class="price">S/32.80</p>
          <button class="btn-add-cart" (click)="addToCart('Pizza familiar Hawaiana', 32.80)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-carbonara.png"
            alt="Pasta en salsa carbona y huevo"
          />
        </div>
        <div class="content-card-product">
          <h3>Pasta en salsa carbona y huevo</h3>
          <p class="price">S/35.80</p>
          <button class="btn-add-cart" (click)="addToCart('Pasta en salsa carbona y huevo', 35.80)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pizzas/pepperoni.png"
            alt="Pizza Pepperoni"
          />
        </div>
        <div class="content-card-product">
          <h3>Pizza familiar Pepperoni</h3>
          <p class="price">S/29.90</p>
          <button class="btn-add-cart" (click)="addToCart('Pizza familiar Pepperoni', 29.90)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta.lasaña.png"
            alt="Lasaña"
          />
        </div>
        <div class="content-card-product">
          <h3>Lasaña</h3>
          <p class="price">S/35.30</p>
          <button class="btn-add-cart" (click)="addToCart('Lasaña', 35.30)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pizzas/suprema.png"
            alt="FAMILIAR ULTIMATE SUPREME"
          />
        </div>
        <div class="content-card-product">
          <h3>FAMILIAR ULTIMATE SUPREME</h3>
          <p class="price">S/31.60</p>
          <button class="btn-add-cart" (click)="addToCart('FAMILIAR ULTIMATE SUPREME', 31.60)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pizzas/cheese.png"
            alt="CRAZY CHEESE BREAD"
          />
        </div>
        <div class="content-card-product">
          <h3>CRAZY CHEESE BREAD</h3>
          <p class="price">S/32.90</p>
          <button class="btn-add-cart" (click)="addToCart('CRAZY CHEESE BREAD', 32.90)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img src="/assets/images/pizzas/combo.png" alt="COMBO FIESTA" />
        </div>
        <div class="content-card-product">
          <h3>COMBO FIESTA</h3>
          <p class="price">S/59.90</p>
          <button class="btn-add-cart" (click)="addToCart('COMBO FIESTA', 59.90)">Añadir al carrito</button>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/complementos/c-bpollo.png"
            alt="brochetas de pollo"
          />
        </div>
        <div class="content-card-product">
          <h3>6 BROCHETAS DE POLLO</h3>
          <p class="price">S/34.90</p>
          <button class="btn-add-cart" (click)="addToCart('6 BROCHETAS DE POLLO', 34.900)">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </section>

  <!--banner de abajo  -->

  <footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>Dirección: Av. Alfredo Mendiola 6062, Los Olivos 15306</li>
            <li>Teléfono: 123-456-7890</li>
            <li>EmaiL: Anthonyspizzasupport.com</li>
          </ul>
          <!--ICONO DE REDES SOCIALES-->
          <div class="social-icons">
            <span class="facebook">
              <a
                href="https://www.facebook.com/AnthonysPizzaPuentePiedra?mibextid=LQQJ4d"
              >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </span>
            <span class="instagram">
              <a
                href="https://www.instagram.com/pizza_anthonys?igsh=MW1uaWtmNHJtNGVsNg=="
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Delivery</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Mi cuenta</p>

          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Historial de ordenes</a></li>
            <li><a href="#">Reembolsos</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Atención al cliente</p>
          <ul>
            <li><a href="#">Horarios de atencion telefonico</a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p>Anthony's pizza S.A.C todo los derechos desde &copy; 2024</p>
      </div>
    </div>
  </footer>
</main>
