<main class="main-content">
  <!--BOTONES O SPAN XD DESTACADOS RECIENTE MEJORES -->
  <section class="container products">
    &nbsp;
    <div class="container-options">
      <span [routerLink]="['/carrito']">PROMOCIONES</span>
      <span [routerLink]="['/pizzas']">PIZZAS</span>
      <span class="active">PASTAS</span>
      <span [routerLink]="['/complementos']">COMPLEMENTOS</span>
    </div>

    <div class="container-products">
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img src="/assets/images/pastas/Pasta-penne.png" alt="Pasta penne" />
        </div>
        <div class="content-card-product">
          <h3>Pasta Penne en salsa de vodka</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/28.80</p>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-camarones.png"
            alt="Pizza familiar Barbacoa"
          />
        </div>
        <div class="content-card-product">
          <h3>Fettuccine Alfredo con camarones y pesto</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/29.50</p>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-carbonara.png"
            alt="Pizza Hawaiana (pizza con piña)"
          />
        </div>
        <div class="content-card-product">
          <h3>Pasta en salsa carbona y huevo</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/35.80</p>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-gito.png"
            alt="Pizza familiar Cuatro quesos"
          />
        </div>
        <div class="content-card-product">
          <h3>Espaguetis con gambas al ajillo</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/38.20</p>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-roja.png"
            alt="Pizza Pepperoni"
          />
        </div>
        <div class="content-card-product">
          <h3>Espaguetis en salsa roja</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/28.10</p>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-rotini.png"
            alt="Pizza con champiñones"
          />
        </div>
        <div class="content-card-product">
          <h3>Pasta Rotini</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/28.80</p>
        </div>
      </div>
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta-saltada.png"
            alt="FAMILIAR ULTIMATE SUPREME"
          />
        </div>
        <div class="content-card-product">
          <h3>Tallarin saltado de pollo</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/33.90</p>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="/assets/images/pastas/pasta.lasaña.png"
            alt="CRAZY CHEESE BREAD"
          />
        </div>
        <div class="content-card-product">
          <h3>Lasaña</h3>
          <span class="add-cart">
            <i class="bx bx-cart"></i>
          </span>
          <p class="price">S/35.30</p>
        </div>
      </div>
    </div>
  </section>

  <!--banner de abajo  -->

  <footer class="footer">
    <div class="container container-footer">
      <div class="menu-footer">
        <div class="contact-info">
          <p class="title-footer">Información de Contacto</p>
          <ul>
            <li>Dirección: Av. Alfredo Mendiola 6062, Los Olivos 15306</li>
            <li>Teléfono: 123-456-7890</li>
            <li>EmaiL: Anthonyspizzasupport.com</li>
          </ul>
          <!--ICONO DE REDES SOCIALES-->
          <div class="social-icons">
            <span class="facebook">
              <a
                href="https://www.facebook.com/AnthonysPizzaPuentePiedra?mibextid=LQQJ4d"
              >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </span>
            <span class="instagram">
              <a
                href="https://www.instagram.com/pizza_anthonys?igsh=MW1uaWtmNHJtNGVsNg=="
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="information">
          <p class="title-footer">Información</p>
          <ul>
            <li><a href="#">Acerca de Nosotros</a></li>
            <li><a href="#">Información Delivery</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Contactános</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Mi cuenta</p>

          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Historial de ordenes</a></li>
            <li><a href="#">Reembolsos</a></li>
          </ul>
        </div>

        <div class="my-account">
          <p class="title-footer">Atención al cliente</p>
          <ul>
            <li><a href="#">Horarios de atencion telefonico</a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p>Anthony's pizza S.A.C todo los derechos desde &copy; 2024</p>
      </div>
    </div>
  </footer>
</main>
