<header class="col-12 Cabecera">
    <a class="col-2 d-flex justify-content-center navbar-brand" routerLink="" title="home">
        <img class="fotoCabecera" src={{fotoCabecera}} alt="">
    </a>
    <div class="navbar col-7">
        <ul class="navbar-nav me-auto mb-2 flex flex-row justify-content-evenly col-12">
            <li class="nav-item">
                <a class="nav-link" routerLink="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="sobre-la-empresa">Sobre la empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="carrito">Carrito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="sucursales">Sucursales</a>
            </li>
        </ul>
    </div>
    <div class="flex flex-row justify-content-evenly align-content-center col-3">
        <div class="container col-12 d-flex justify-content-evenly">
            <button type="button" title="Busqueda" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This top tooltip is themed via CSS variables." class="btn boton-cabecera">
                <i class="bx bx-search-alt-2"></i>
            </button>
            <button type="button" title="Carrito" class="boton-cabecera">
                <i class="bx bx-cart"></i>
            </button>
            <button type="button" title="Usuario" class="boton-cabecera">
                <i class="bx bx-user"></i>
            </button>
        </div>
    </div>
</header>
